- hosts: all
  remote_user: root
  tasks:
    - name: install remi
      command: "{{ item }}"
      with_items:
        - yum install -y http://rpms.remirepo.net/enterprise/remi-release-7.rpm

    - name: install redis
      command: "{{ item }}"
      with_items:
        - yum --enablerepo=remi install redis -y

    - name: rename conf file
      shell: "{{ item }}"
      with_items:
        - mv /etc/redis.conf /etc/redis.conf.back

    - name: create /etc/redis.conf file
      file:
        path="/etc/{{ item }}"
        state=touch
        mode=777
      with_items:
        - redis.conf

    - name: set redis.conf
      blockinfile:
        path: /etc/redis.conf
        marker: ""
        block: |
            bind 0.0.0.0
            protected-mode no
            requirepass myPassword123456
            port 6379
            tcp-backlog 511
            timeout 0
            tcp-keepalive 300
            daemonize no
            supervised no
            pidfile /var/run/redis_6379.pid
            loglevel notice
            logfile /var/log/redis/redis.log
            databases 16
            always-show-logo yes
            save 900 1
            save 300 10
            save 60 10000
            stop-writes-on-bgsave-error yes
            rdbcompression yes
            rdbchecksum yes
            dbfilename dump.rdb
            rdb-del-sync-files no
            dir /var/lib/redis
            replica-serve-stale-data yes
            replica-read-only yes
            repl-diskless-sync no
            repl-diskless-sync-delay 5
            repl-diskless-load disabled
            repl-disable-tcp-nodelay no
            replica-priority 100
            acllog-max-len 128
            lazyfree-lazy-eviction no
            lazyfree-lazy-expire no
            lazyfree-lazy-server-del no
            replica-lazy-flush no
            lazyfree-lazy-user-del no
            oom-score-adj no
            oom-score-adj-values 0 200 800
            appendonly no
            appendfilename "appendonly.aof"
            appendfsync everysec
            no-appendfsync-on-rewrite no
            auto-aof-rewrite-percentage 100
            auto-aof-rewrite-min-size 64mb
            aof-load-truncated yes
            aof-use-rdb-preamble yes
            lua-time-limit 5000
            slowlog-log-slower-than 10000
            slowlog-max-len 128
            latency-monitor-threshold 0
            notify-keyspace-events ""
            hash-max-ziplist-entries 512
            hash-max-ziplist-value 64
            list-max-ziplist-size -2
            list-compress-depth 0
            set-max-intset-entries 512
            zset-max-ziplist-entries 128
            zset-max-ziplist-value 64
            hll-sparse-max-bytes 3000
            stream-node-max-bytes 4096
            stream-node-max-entries 100
            activerehashing yes
            client-output-buffer-limit normal 0 0 0
            client-output-buffer-limit replica 256mb 64mb 60
            client-output-buffer-limit pubsub 32mb 8mb 60
            hz 10
            dynamic-hz yes
            aof-rewrite-incremental-fsync yes
            rdb-save-incremental-fsync yes
            jemalloc-bg-thread yes


    - name: enable redis
      shell: "{{ item }}"
      with_items:
         - systemctl enable redis.service
         - systemctl restart redis.service
